*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100px;
    height: 100px;
    animation-name: box;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-fill-mode: backwards;
    align-items: center;
   
}
@keyframes box{
    0%{
        background-color: red;
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0;
    }
    25%{
        background-color: green;
        width: 100px;
        height: 100px;
        left: 200px;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    50%{
        background-color: blue;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 200px;
        bottom: 0;
        
     
    }
    80%{
        background-color: yellow;
        width: 100px;
        height: 100px;
        position: absolute;
        

    }
    100%{
        background-color: white;
        width: 100px;
        height: 100px;
        bottom: 200px;
        top: 0;
        position: absolute;
    }
}